[2018-08-28 22:18] mirandae opened #1 "Add option/button to 'suspend' a flashcard"
It'd be nice to be able to suspend flashcards, if the Anki API allows for it

[2018-08-29 06:10] mirandae commented on #1
^ I started taking a look at this but got stuck on the minified JS code -- do you have a link for the unminified versions of `extension/app/index_files/tether.js` & `app.js`? Thank you!

[2018-08-29 11:33] corollari commented on #1
On the suspend button, I'll look into that right now and report back in a few hours.

About those minified files, I've taken them from ankiweb.net so I don't have the source.
`tether.js`: This file just holds a copy of the tether.js library (which is used for Bootstrap tooltips), which is totally unnecessary so it can be safely deleted and the extension will work perfectly. I didn't delete it beca

[2018-08-29 15:33] corollari commented on #1
I haven't been able to find any API call on ankiweb that would allow the suspension of a card, so I'll have to take a different approach:
As a temporary measure I will create a build for you with that feature added using AnkiConnect (an anki addon). I'm aware this isn't a good solution as it requires the user to have anki & the addon installed and running while inheriting the drawbacks of the anki

[2018-08-29 21:46] mirandae commented on #1
No worries at all! Thanks for the quick response - this was just a 'nice to have' request and I was planning on trying to add it myself otherwise :) You really don't have to make a special build for me -- I'm sure you have better things to do! I also appreciate the explanation for the minified stuff! My javascript is very basic so I got stuck pretty fast.

[2018-08-29 23:26] corollari commented on #1
Not a problem, this is the first issue someone has ever opened in one of my repos, so I'm over the moon about it.
About that build I told you about, you can find it on the `suspend` branch of this repo. To install it just load the extension unpacked into your browser and add the [AnkiConnect addon](https://ankiweb.net/shared/info/2055492159) to your anki installation.
If you've got any other quest

[2018-09-05 23:57] corollari commented on #1
Closing this issue as suspend buttons have been merged into `master`

[2018-09-05 23:57] #1 closed

[2018-09-06 07:26] JouzaLoL opened #2 "Feature request: Show current deck"
First off, let me thank you for this awesome extension! I've been using it a lot and it has sure helped me do more reviews.

Now, on to the request: It would be great if the user could see the deck currently being reviewed. Maybe in a status bar on the top, along with remaining reviews?

[2018-09-07 18:37] corollari commented on #2
Sure, I'll implement it right now. It'll be available as an option in the next release (which I will upload later today or tomorrow).
Also, thanks for the praise. It is really cool to hear about people using something you've created.

[2018-09-09 16:59] corollari opened #3 "End of support for Firefox's add-on repository (AMO)"
Due to AMO reviewers' constant disabling of the extension on AMO (without reading the reviewer comments I left for them nor spending the time to properly understand the extension before outright banning it), unresponsiveness to my replies and extremely hard to meet requests (eg: rewrite all of ankiweb's js code) I've decided to pull the extension from AMO.
Right now the extension works properly on

[2018-09-09 20:54] bartbussmann commented on #3
I haven't been able to install it in Firefox. After I have build from source, and I select the firefox.zip when adding the add-on from file, I get the message: "This add-on could not be installed because it appears to be corrupted." Am I doing something wrong?

[2018-09-09 21:16] corollari commented on #3
Sorry, the issue is on my side. Firefox forces signing of every extension and I haven't uploaded the signed extension package.

Edit: See my last comment at the end of this issue for a link to a signed package

[2018-09-09 21:31] corollari commented on #3
Thanks! If you find any bug on Firefox please just open an issue or notify me and I'll get it fixed.

[2018-09-10 00:36] dae opened #4 "Copyright and terms & conditions violations"
While I'm sure you had good intentions, I'm afraid you will need to rework this. AnkiWeb is not open source, so by distributing portions of the website you are violating our copyright. Switching the current deck every few cards also imposes an unnecessary load on AnkiWeb, and the terms and conditions specifically disallow accessing the service programmatically. You are welcome to implement custom

[2018-09-10 01:29] #3 closed

[2018-09-10 02:12] corollari commented on #4
While it's true that in the beginning the extension was mostly a copy of ankiweb, currently the lines of code custom to the extension outnumber those from copied code (which has undergone large modifications too, as I've reverse-engineered and debundlarized ankiweb's code). Also, the fact that part of the code came from ankiweb has always been acknowledged in the README.
To address the copyright i

[2018-09-10 02:15] corollari commented on #3
Given that I'll be rewriting a part of the extension, I'll use this opportunity to make the changes necessary and try to get AnkiTab on AMO again.

[2018-09-10 02:28] dae commented on #4
You took copyrighted code and distributed it under a different license when you did not have the rights to do so. While you may not have intended any harm, you have done the wrong thing here. Please remove all of the copyrighted content within 24 hours.

Caching replies will not change the fact that you're frequently changing the deck, which requires a recalculation of the due cards each time. Thi

[2018-09-10 22:19] corollari commented on #4
All the offending code and copyrighted content has been removed. If you find anything under copyright left tell me and I'll remove it too.

[2018-09-11 10:58] dae commented on #4
Thank you for doing that. The extension you've written looks handy, so I wish you all the best with the AnkiConnect version.

[2018-09-12 01:00] dae commented on #4
Your extension is still accessing AnkiWeb, and you appear to be trying to deliberately disguise the add-on's use. As I mentioned 2 days ago, this functionality is against AnkiWeb's terms and conditions. You do not pay for AnkiWeb's servers, and do not have a right to use them as you please. Please follow the rules, or I will need to permanently deactivate your account.

[2018-09-12 08:45] corollari commented on #4
Even if I wanted to use AnkiConnect to replace AnkiWeb, it'd be impossible, as, currently, the API calls necessary to implement AnkiTab's functionality aren't part of AnkiConnect. Thus, at the very least I'll have to write a PR for AnkiConnect, get it accepted and finally rewrite AnkiTab.
Wouldn't it be possible to smooth the transition between AnkiWeb and AnkiConnect by allowing the use of AnkiWe

[2018-09-12 09:37] c-okelly commented on #4
A better solution, if @dae would allow it, could be to bring the functionality in line with the from what you would see from the base Anki client instead. This would probably mean removing the changing decks functionality and reduce how much the client syncs with the back end?

[2018-09-12 10:56] corollari commented on #4
I don't think he would agree with that, given that if that was his intention, he could have blocked just the "switch" deck requests from AnkiTab while letting getCards requests go through, which would have left AnkiTab with just the basic functionality left yet still working.
Of course, this is my interpretation of it, maybe this is a classic case of Occam's razor and he didn't think much about it

[2018-09-12 11:31] c-okelly commented on #4
I don't know about that. I would assume the @dae has his own personal priorities about the development work his is currently focused on. At the end of the day he is providing us with a free service. If he has to start blocking individual 3rd party libraries and extensions or just subsections of them it very much becomes a game of whack a mole. Probably much easier just to point to the terms of ser

[2018-09-12 14:28] cmd16 commented on #4
The safest response is to write a pull request and update AnkiConnect so you can use it, and in the mean time just set the new tab page to go to the url for AnkiWeb

[2018-09-13 07:44] dae commented on #4
Switching the deck repeatedly is only part of the problem. When a user accesses AnkiWeb after a delay, their data needs to be loaded from disk. This usually happens a few times a day at most, when users deliberately surf to the site, and this extension has changed it so that the user's data needs to be read from disk every time they open a new tab, even if they had no intention of studying - poten

[2018-09-13 19:57] albertly commented on #4
2 dae

Report abuse to Google
https://chrome.google.com/webstore/detail/ankitab/ihoaepdiibjbifnhcjoaddgcnfgjmjdk

[2018-09-13 20:41] albertly commented on #4
LOL. What about very simple solution: banning users who use AnkiTab (after 3 times email warning, of course)
Bypass it, I dare you. LOL

https://github.com/corollari/ankiTab/blob/master/extension/login/login.js

	request+="password="+$("#password").val()
	$.post("https://ankiweb.net/account/login", request, (res)=>{

[2018-09-14 07:48] corollari commented on #4
Given that a solution has been reached (update the add-on to use AnkiConnect in the following week) and this discussion is not longer constructive (see @albertly's deleted comment), I'll be locking the conversation.
If anyone wants to add something while remaining civic you are welcome to open another issue.

[2018-09-21 13:32] corollari commented on #4
Today I'll push the ankiConnect code and the new version of ankiTab will probably be released tomorrow or sunday.

[2018-09-30 05:59] dae commented on #4
I've been waiting patiently, but you still have not updated the extension on the Chrome store.

[2018-09-30 17:14] #4 closed

[2018-10-01 19:31] hoschi111 opened #5 "Using custom Font"
Hello,
i'm using a custom font for my chinese cards.
Unfortunately since the AnkiConnect update, that font doesn't work anymore.
Console output: `chrome-extension://ihoaepdiibjbifnhcjoaddgcnfgjmjdk/_gkai00mp.ttf net::ERR_FILE_NOT_FOUND`

When I put that font file in `C:\Users\<USER>\AppData\Local\Google\Chrome\User Data\Default\Extensions\ihoaepdiibjbifnhcjoaddgcnfgjmjdk\0.4_0` it works for 1 seco

[2018-10-01 22:18] corollari commented on #5
First of all, thanks for letting me know of this issue.
About the bug, could you upload the deck that's causing issues or explain how to create one with which I can reproduce the issue?
The problem is that ankiConnect only allows retrieving media files via an API call, so right now the extension is performing these API calls for everything which has a src attribute, which obviously misses stuff li

[2018-10-02 13:35] hoschi111 commented on #5
Thanks for your fast response!
Here are the files.
[gkai00mp.zip](https://github.com/corollari/ankiTab/files/2438067/gkai00mp.zip)
[综合中级1.zip](https://github.com/corollari/ankiTab/files/2438069/1.zip)

[2018-10-08 00:14] corollari commented on #5
This weekend I've been working on this and, while I thought this would be pretty straightforward, it seems it will take a bit longer to implement than planned, as, right now, the chrome extensions API doesn't support changing a request body[1][2].
Just wanted to give you a heads up so you know that I haven't forgotten about this.

[1] https://bugs.chromium.org/p/chromium/issues/detail?id=104058
[2

[2018-10-18 07:58] JanEbbing opened #6 "Not working for firefox currently"
Hey, I'm trying to use this for firefox as it looks like great work!
However, the xpi you provided in #3 does not work anymore (I suspect due to it using ankiwebs API instead of AnkiConnect) and when I build the current github version myself I cannot install it as an addon (I guess the previous unsigned error).

Would be awesome if you could upload a signed version or enable us to build one!

[2018-10-20 16:16] demolpolis commented on #6
Mine stopped working until I signed into ankiweb.net and agreed to the new term and conditions.  Instantly fixed it.

It was flashing a card, then showing the "Congratulations! All cards scheduled for today have been reviewed" screen.

Is this what is happening to you?

[2018-10-20 17:33] JanEbbing commented on #6
Hi, sorry for not describing the actual problem in detail.
I also hadn't signed the new Terms, but did so while trying to solve the problem. When I open a new tab, it just asks me to sign into my ankiweb account forever. If I go to the actual ankiweb website and log in there and then open a new tab, it again asks me to log in.

[2018-10-20 18:45] corollari commented on #6
I just received an answer to the appeal I sent a few weeks ago on AMO. It took several weeks to just send  a one-liner saying "NO". Anyway, I will re-upload the updated version to AMO later today.
About the old extension not working properly, I'm surprised that it even works, as dae blocked the extension from accessing ankiweb (that's the reason why it was eventually migrated to ankiweb).

About b

[2018-10-20 19:13] corollari commented on #6
Btw, sorry for not replying in two days, I only saw this issue after someone else told me about it. In case this ever happens again just send me an email at me@albert.sh

[2018-10-20 19:38] demolpolis commented on #6
I don't know much about what is happening behind the scenes here... but it works for me and I am extremely grateful for it.  It's crazy that an allegedly more open source browser ends up being more restrictive than Chrome. /shrug.

[2018-10-22 13:14] JanEbbing commented on #6
Thanks a lot! works like a charm now.

[2018-10-22 13:14] #6 closed

[2018-11-02 17:19] indrasweb opened #7 "Redirect to new tab page once one question answered"
Is it possible to have ankitab to redirect to the new tab page it is replacing after a question has been answered?

[2018-11-02 19:03] corollari commented on #7
Implemented. You can get the version of ankiTab with the feature requested by downloading the branch `answer-redirect` and loading the extension unpacked into chrome/firefox.
Eventually, I'll add a config flag to let people disable/enable this and release it as a new version, but right now I sadly don't have the time needed to implement it. If you feel like implementing it, just send a PR :)

[2018-11-02 19:13] corollari commented on #5
It seems I won't have the time needed to look into this (I don't even know if it's possible without submitting a PR to chome&firefox) till a few months later, so it will probably take a while.
Meanwhile, as a temporary fix, I prepared the branch `fontissues`, which has the font file you needed to get your cards working. You can use this version of ankiTab by downloading it, enabling developer mode

[2018-11-02 22:40] hoschi111 commented on #5
Wow, good job!

[2018-11-02 23:28] corollari commented on #5
Thanks, if you find any issue installing it just let me know :)

[2018-11-03 00:36] hoschi111 commented on #5
Just had to add "_" in front of the file name. "_gkai00mp.ttf"

[2018-11-06 18:22] tamdrashtri opened #8 "do not work with Yandex browser"
I tried this with Yandex but it does not work. It shows this message:

<img width="394" alt="screen shot 2018-11-06 at 10 21 48 am" src="https://user-images.githubusercontent.com/33707686/48084953-ddb4b700-e1ad-11e8-97ed-273ace3bfb2b.png">

[2018-11-07 02:48] corollari commented on #8
Try loading it from the `extension` folder (`/Users/mac/Downloads/ankiTab-master/extension` in your case)

[2018-11-07 03:46] tamdrashtri commented on #8
Hi Corollari, I tried following your tip but it still does not work:

<img width="402" alt="screen shot 2018-11-06 at 7 45 32 pm" src="https://user-images.githubusercontent.com/33707686/48109517-a6212b80-e1fc-11e8-8776-e60c50db11a9.png">

[2018-11-07 04:17] corollari commented on #8
It seems that, as a design choice, the Opera developers have disabled the API used to modify the new tab page[1]. Given that Yandex uses Opera extension that functionality is blocked in Yandex too.
I'm not sure if there is any way to actually get it working on Yandex if the main functionality of the extension is intentionally blocked.

[1] https://forums.opera.com/topic/20490/using-chrome_url_over

[2018-11-10 02:57] corollari commented on #8
Closing as there doesn't seem to be any solution to this issue and there hasn't been any new comments.

[2018-11-10 02:57] #8 closed

[2018-12-02 21:08] stappis opened #9 "deck page when tab is closed"
hello!
currently, when you close an ankitab (or when you decide to go to a site), the question will still be open on anki... it'll harm the "average answer time" statistic, right?
would't it be possible to make anki go back to the 'decks page' when you close an ankitab (or go to a site), or something like that?
(sorry for my bad english)

*the title is kinda dumb, it's not necessarily JUST when yo

[2018-12-02 23:04] #9 closed

[2018-12-02 23:06] corollari commented on #9
The fix is live in the master branch now, I'll release the new version of the extension in a few days. If you want to use the new version meanwhile you can load in unpacked.

[2019-01-11 05:31] 1nsp1r3rnzt opened #10 "Request: ability to draw on the page using mouse."
Ability to draw using mouse while reviewing would be beneficial.
I found a [codepen example](https://codepen.io/medo001/pen/FIbza) which illustrates this.

The canvas can be cleared  by
- Using a clear button like the example.
- when user clicks easy, hard, or medium button.

[2019-01-11 23:50] corollari commented on #10
Thanks for the suggestion! That seems like something that could be useful for a lot of people so I'll be implementing it as an optional module that can be enabled from the settings channel.

Sadly right now I'm really busy with college exams so I won't be able to work on it till February. If you'd be interested in implementing it yourself, pull requests are welcome :smile:

[2019-01-17 20:11] corollari opened #11 "Restrict max image size"
Feature requested by a chrome user via a review on the chrome store.
To be included in the next release.

[2019-01-26 13:38] Novite5 opened #12 "Firefox unknow address"
After scoring the answer, Ankitab will jump to address:

which cannot be recognized by Firefox.

Thank you for your work!

[2019-01-27 04:54] Novite5 commented on #12
No. I get the addon from Mozilla official store.

[2019-01-27 11:08] Novite5 commented on #12
`
19:00:46.294 Error: Could not establish connection. Receiving end does not exist.
Browser.js:3:1937
19:00:47.473 Error: Could not establish connection. Receiving end does not exist. Browser.js:3:1937
19:01:10.779
'NoneType' object has no attribute 'hide' ankiConnect.js:22:17
ankiConnectInvoke/</<
moz-extension://e22a492a-4b7b-4a3a-b37d-9e3e9cf39d8a/libs/ankiConnect.js:22:17
19:01:11.471 TypeErro

[2019-01-27 17:50] corollari commented on #12
Just fixed it! :tada:
Thanks for reporting it :)

[2019-01-27 17:58] corollari commented on #12
Just published the updated extension, it should be available after the review passes (~a few hours).

[2019-01-28 03:11] Novite5 commented on #12
Great! It works.
Thank you very much!

[2019-01-28 03:11] #12 closed

[2019-02-17 13:34] Novite5 opened #13 "Feature Request: support for LaTex with mathjax"
Now AnkiTab cannot display cards contains latex formals.
Wish support it in near future.
Thank you!

[2019-02-18 13:32] Novite5 commented on #13
Sorry! I found AnkiTab can display LaTex, only the mathjax format doesn't support.

[2019-02-20 04:29] corollari commented on #13
If you send me some cards that include MathJax cards for testing I can include MathJax functionality into ankiTab (should be pretty easy as it's only including more scripts).

[2019-02-21 02:58] Novite5 commented on #13
Sorry! I've already changed all the cards to LaTex. However, I found AnkiTab doesn't support LaTex shorthand.

[2019-03-11 10:39] SRGOM opened #14 "Great addon but doesn't run javascript"
In case you didn't know already, custom JS isn't run.

[2019-03-22 13:37] RickCarlino opened #15 "Answer buttons not showing on media-only card"
![image](https://user-images.githubusercontent.com/1388608/54826043-f0bbb580-4c7c-11e9-8563-f8add467f4df.png)

I'm running AnkiTab on Firefox 66.0 in Xubuntu. I am using a deck that has media-only (listening comprehension- no written hints)

I've been using it for a few days now and noticed that yesterday the quiz response buttons have disappeared. Please note that in the screenshot above the card

[2019-03-22 13:38] RickCarlino commented on #15
Side note: In the JS console it says:
[code]

[2019-03-22 13:47] RickCarlino commented on #15
I found a few other deprecations (I just noticed that FireFox 66 shipped three days ago :thinking:)
[code]

[2019-03-22 17:17] corollari commented on #15
Thanks for reporting it! I'll look into it.

[2019-03-22 18:19] corollari commented on #15
I'm not able to reproduce the issue on my own Firefox (which has been updated to v66). Still I've looked into it and the JS error are you seeing ("Gui review is not currently active.") is thrown by ankiConnect when there's a call to guiCurrentCard() and anki is not in the proper state. One of the reasons that could lead to that happening is if some of the messages that ankiTab sends to ankiConnect

[2019-03-23 12:55] RickCarlino commented on #15
This could be the issue. I am surprised I did not notice this in my initial post:

[code]

It looks like FireFox is blocking the request because of the [same origin policy](https://en.wikipedia.org/wiki/Same-origin_policy). I have never directly accessed the AnkiConnect API, nor have I ever authored a Firefox addon, but I would think:

 1. The AnkiConnect plugin needs to allow CORs headers. (judgi

[2019-03-23 13:29] RickCarlino commented on #15
@corollari Nevermind- I found the problem:

 * In Anki desktop, it is possible to use MP3 media that does not have an `.mp3` extension
 * In my deck, I have such files (they were generated by google cloud- it's a long story as to why they do not have an `mp3` extension).
 * [This line](https://github.com/corollari/ankiTab/blob/4a466c459057922dc0fde6f830325e2087cfd761/extension/app/js/cards.js#L42)

[2019-03-23 13:29] #15 closed

[2019-03-23 13:44] RickCarlino commented on #14
@SRGOM What do you see in your JS console when you open a card that uses Javascript?

[2019-03-23 14:21] corollari commented on #14
This is a known issue, it is caused by CSP disabling the execution of javascript code which is not in an static file (when card content is loaded all js inside the html is evaluated)[0]. I looked at ways to solve it back when I was writing the extension and the way to solve is by running the scripts in a sandbox[1]. I didn't implement it cause it takes a lot of work and that work would be better s

[2019-03-23 14:26] corollari commented on #15
Thanks for investigating! I'll also change the permissions to use `*://127.0.0.1:8765` instead to avoid any other issues that could arise.

[2019-03-23 14:40] RickCarlino commented on #15
@corollari No problem! I will say though, I did not investigate the CORs issue after discovering the exception in #16 - it is possible that the CORs issue noted is caused by some other issue (I'm quite a noob when it comes to FF addons)

[2019-03-24 03:52] SRGOM commented on #14
@RickCarlino here is the JS console output after I hit 'show answer' (where JS should come in):

[code]

I am going to close this since I believe @corollari  has answered both my question and @RickCarlino 's intended question but please feel free to re-open or comment if there is anything I can do to help.

Thank you both of you guys.

[2019-03-24 03:52] #14 closed

[2019-03-24 17:18] corollari commented on #14
If anyone is willing to get this working with the sandboxing I'd happily merge it into ankiTab.
@SRGOM sorry for taking so long to answer this issue, sometimes I don't notice github emails among all the others. If this happens again just ping me or send an email to me@albert.sh

[2019-03-24 17:21] corollari commented on #15
The CORS issue that you found is probably related to the problem explained in #5, the browser tries to send HTTP requests to get resources and ankiConnect just drops them.

[2019-03-29 21:12] masteranza commented on #13
Hi, @corollari I'd love to see this feature implemented (MathJax).
I can provide you with example cards, but it's rather simple - just create a card with, say:
`\( f(x) = x^2 \)`

MathJax is rendered live and higher resolution than LaTeX, plus my workflow allows me to use only MathJax.

[2019-03-31 23:25] corollari commented on #13
@masteranza Noted. I'll keep it here till I have time to work on it.

[2019-04-01 05:45] SRGOM commented on #14
@corollari Please don't worry about taking time- you're already being very helpful (by the way of your add-on). Your add-on is already 99% of the way there for me so all good...

[2019-04-02 19:53] corollari commented on #14
@SRGOM Thanks! :smile:

[2019-04-22 13:36] lieuzhenghong opened #17 "Link to Firefox package not working"
Have seen issue #6 and #3. The link given in #3 [[post here]](https://github.com/corollari/ankiTab/issues/3#issuecomment-419745618) is no longer working, and neither is the one in `README.md`.

Where can I download the package?

Thanks very much.

Sincerely
Zhenghong

[2019-04-22 13:55] corollari commented on #17
I'll look into it right now. Thanks for the heads up :+1:

[2019-04-22 14:57] corollari commented on #17
After looking at it more closely, it seems the extension was banned from the firefox store 15 days ago due to two reasons unrelated to #3 and #6:
1. Use of an alpha release of bootstrap (it seems developers are only allowed to use stable versions [1])
2. Use of a slightly modified copy of jquery

Regarding reason 2, this addon removed all dependencies on jquery, and jquery itself, about 7 months a

[2019-04-27 23:09] telotortium opened #18 "Support "type:" fields"
I'd love to be able to type the answer on my cards whose templates contain `{{type:FieldName}}` (see [manual](https://apps.ankiweb.net/docs/manual.html#checking-your-answer)). It appears that Anki renders this to `[[type:FieldName]]` on the card, and then uses some sort of custom processing in the Python code to insert the type field (see https://github.com/dae/anki/blob/918c426/anki/collection.py

[2019-04-28 00:51] corollari commented on #17
Closing because this was solved 5 days ago.

[2019-04-28 00:51] #17 closed

[2019-04-28 00:53] corollari commented on #18
I'll look into it but couldn't this be implemented in ankiConnect so that all extensions using it handle this properly?

[2019-05-23 16:36] annargrs commented on #13
same here, I cannot really use the plugin without it.

[2019-05-23 21:31] corollari commented on #13
Just added MathJax support, it's currently working on branch `mathjax`. Not going to push the next version live yet because:
- Firefox: I have to make sure that all the new files added comply with Firefox policies (including tracking down the all the dependencies of MathJax in it's unminimized form, checking if all the versions are a "stable release", checking licenses...)
- Chrome: I have tested

[2019-05-24 20:02] annargrs commented on #13
@corollari I just tested it, works fine for my cards (simple basic model). Thanks a lot!

[2019-05-25 13:03] masteranza commented on #13
@corollari It works great! Thank you for making this happen!

[2019-05-25 13:04] masteranza opened #19 "Next review time on answer buttons"
This is a minor thing, but ultimately it would be really nice to know what "hard", "easy" etc. means in practice for a given card.

[2019-05-25 13:09] masteranza opened #20 "Option to 'auto-sync' after review"
I think this is a bit more important to keep the reviews fluid.

[2019-05-25 18:18] corollari commented on #13
@Novite5 @annargrs Thanks, I'll push it live later today!

[2019-05-25 18:19] corollari commented on #20
By auto-sync, you mean syncing with ankiweb?

[2019-05-25 18:25] masteranza commented on #20
Yes.

[2019-05-25 19:23] corollari commented on #19
Currently this cannot be implemented as there's no way to obtain the necessary data. I've sent a pull request to anki-connect (FooSoft/anki-connect#119) that, if merged, would allow us to get that data and display it.
Therefore, implementation of this feature depends on that pull request being merged or anki-connect adding another way to obtain that data.

[2019-05-25 19:26] corollari commented on #20
Hmm, how do you picture that working? Something that automatically detects when a person is done reviewing cards and syncs (if so, how should we go about detecting that?)? An on-page button that allows you to sync?

[2019-05-25 19:28] masteranza commented on #19
Thanks!

[2019-05-25 19:30] masteranza commented on #20
Event on closing the tab could probably be percieved as an overkill. Button that’s always in right hand corner and then in the middle when the review is over would be enough I guess.

[2019-05-25 20:09] corollari commented on #20
I've implemented this feature as a simple button on the upper right hand corner. I'm not sure if I understand you properly, but if what you mean is that the button should move to the middle when the review is over then I'm not sure how to go about doing that, as I for example end my reviews by navigating to another page so it wouldn't be possible to do that.

[2019-05-25 20:12] corollari commented on #13
Published! Should be available in the chrome store in a few hours.

[2019-05-26 11:06] Novite5 commented on #13
Great work! Thank you!

[2019-05-26 11:06] #13 closed

[2019-05-27 16:11] masteranza commented on #20
I've just checked the version you've pushed and it's almost exactly like I wanted it, except that the 'Sync' button is gone after the review is finished (and it's the most important moment to have it around). Whether it is then screen centered or still top-right corner is a secondary matter.
Thanks!

[2019-05-27 21:17] corollari commented on #20
Hmm, could it be that you're using the `answer-redirect` branch?

[2019-05-27 22:38] masteranza commented on #20
I’ve returned to the version from chrome extension store since you’ve updated it to mathjax support.

[2019-08-05 11:04] Vaaai opened #23 "Tab stays blank"
First of all: Great Idea! Great Project! Thank you very much for it!
Unfortunately, I cannot use it at the moment as the page stays blank and does only show an options button but not a card. Testet  on Chromium and Firefox, so do not think it  depends on the respective browers.

Anki version is: 2.0.52
OS: Opensuse
OS: Leap 15.0

Thanks in advance for your time and help!
Best regards

[2019-08-06 14:34] corollari commented on #23
Thanks for the report!
Several people have reported this issue lately but I have been unable to reproduce it so far, could you post a log of the console?

[2019-08-12 12:17] Vaaai commented on #23
Thanks for the  fast reply! I am sorry to hear that also other people have this problem. Maybe we are able to fix it though :)

So attached is the log to  start with. I also found a workaround that works to a certain extent. The trick is to go into anki's desktop app and open a deck. The first card is then shown also in ankiTab. This works fine until the screen stays blank again- but this time the

[2020-04-12 14:14] corollari opened #24 "Audio doesn't work on newest version of anki"
The newest version of anki changed how sound elements are represented inside cards and this has led to ankiTab not being able to display them. Because fixing this seems to require quite a lot of work I'll put it in the backburner for now, if you need this functionality to work say something on this issue or message me.

[2020-04-12 14:22] corollari commented on #23
Hey, back when you opened this issue I tried to reproduce the issue but failed. Now, I should have replied but at that time I was pretty busy and ended up not doing it, sorry for that.

Recently I fixed a bug very similar to the one you described, thus I believe it's quite possible that this issue has been fixed already.

[2020-04-12 16:03] ccampean commented on #24
I am using this cards - https://ankiweb.net/shared/info/1928470569 and the sound works in Chrome. Can you describe, please, in which conditions the sound does not work?

[2020-04-12 17:07] corollari commented on #24
Great seeing you here!

To reproduce the problem make sure that you have the latest version of anki installed (2.1.22) and use [this card](https://transfer.sh/OE9N8/Selected-Notes.apkg), the sound should play fine but while in anki you are able to replay that sound in ankitab it is impossible.

[2020-04-12 17:25] corollari commented on #24
After thinking about it more, this issue might not be the best one for someone just starting to contribute here, as solving it requires some knowledge of how ankitab operates and anki internals. A better issue to focus on might be implementing a feature that has been highly requested: The ability to set the number of cards that a user has to go through when opening a new tab.

Currently the new ta

[2020-06-01 16:53] iacutone commented on #3
@corollari I love AnkiTab. Can you share another signed package? [This](https://albert.sh/ankitab-0.3.3-an+fx-windows.xpi) link no longer works. Thanks!

[2020-06-01 16:55] corollari commented on #3
Sure, on it.

[2020-06-01 18:48] corollari commented on #3
The signed package: [ankitab-0.5.1.1-fx.zip](https://github.com/corollari/ankiTab/files/4712919/ankitab-0.5.1.1-fx.zip)

It took a while because the package needs to be approved by Mozilla.

Let me know if you run into any problems with it :+1:

[2020-06-01 19:01] iacutone commented on #3
The new link works. Thank you so much!

[2020-08-30 23:26] VidFerris commented on #3
Would be useful to direct the Firefox link on the readme to this link - had to dig through the issues pages to find this.

[2020-08-30 23:44] VidFerris opened #25 "Apply Custom CSS"
Would be nice to be able to custom-set the page CSS in the options window - external custom stylesheet addons like Stylus can't work for it because WebExtensions can't modify each others' pages. (As an aside, thanks for making this - really great tool!)

[2020-08-31 02:21] corollari commented on #25
That definitely sounds like something that would improve the extension! Would you be interested in writing a PR for it?

[2020-08-31 02:23] corollari commented on #3
@VidFerris Thanks for the suggestion, I've applied it on 0643f53d00d0fe44cf51590e291ef256d283aaac

[2020-08-31 02:47] VidFerris commented on #25
Sure, I'll look into it over the next few weeks. Haven't worked on extensions before so it'll be a good way to learn!

[2020-09-10 12:21] vincimaroda commented on #23
Same happened on Chrome. But at Brave it worked as well.

[2020-09-10 22:40] corollari commented on #23
@vincimaroda Do you have any insights on how should I go about reproducing this bug?

[2020-09-11 02:46] Vivi-en opened #27 "Blank Tab"
Anki: 2.1
Operating system: Mac os
Hi! I hope this is the right place to say this. I recently downloaded this add-on alongside ankiconnect. I followed the instructions.
However, my new tabs are staying blank without showing any of my cards.

[2020-09-11 10:59] vincimaroda commented on #23
No, sorry. Now it's working fine. 

Maybe the bug happens when you open the browser with the AnkiTab extension before install AnkiConnect.

On 10/09/2020 19:40:48, Albert <notifications@github.com> wrote:
@vincimaroda [https://github.com/vincimaroda] Do you have any insights on how should I go about reproducing this bug?
—
You are receiving this because you were mentioned.
Reply to this email dire

[2020-09-13 08:07] arielaco commented on #18
Not being able to view some cards due to this issue. Any workarounds available?

[2020-09-13 16:30] itsmepvr commented on #5
Hello, I am also kind of getting into same issue with my decks. All the external images, js files and css files in the card returns error in console as file_not_found. I am using the annotation of '_' before each file and it works perfectly fine in Anki. In chrome, only the html part shows up but not the images, js and css those are in collection.media.
Am I missing something here ?

[2020-09-15 19:02] corollari commented on #23
I've tested this and it seems to work fine for me. In any case, thanks for the feedback, if by any chance it happens again let me know and I'll try to reproduce it.

[2020-09-15 19:03] corollari commented on #27
Hey! Are you still having this problem? If so, could you provide a list of all the steps that you took to get to that point? Thanks!

[2020-09-22 15:28] amarcozzi commented on #27
Hello, I'm having the same problem. I downloaded the AnkiConnect addon, installed it, and then installed the AnkiTab extension from the Chrome store.

Here's a screenshot of what the page looks like:

![image](https://user-images.githubusercontent.com/13575005/93903644-26988a80-fcb6-11ea-968a-7b301ff5fc6a.png)

[2020-09-22 15:32] corollari commented on #27
@amarcozzi Could you open the developer tools console with F12 and copy everything that appears there please?

[2020-09-22 17:07] amarcozzi commented on #27
I'm not sure what happened, but I came back to my computer a couple of hours later, and the addon worked! Thanks for your help anyways, and here's the contents tab of the console with the addon working if it helps you at all. Let me know if there's any other information you need from me – maybe it can help someone else.

![image](https://user-images.githubusercontent.com/13575005/93914857-5e0e3380

[2020-09-22 19:26] amarcozzi commented on #27
@corollari  Interestingly, the problem has come up again. I didn't change anything as far as I can tell, but the blank card on a new tab issue is back. The following screenshot shows my Chrome screen with the developer console on the left, and my Anki screen on the monitor to the right. Let me know if there's anything else I can provide you with!

![image](https://user-images.githubusercontent.com

[2020-09-22 22:06] corollari commented on #27
Seems like it's a problem related to ankiConnect but I'm afraid that I can't really help much (tried again to reproduce it locally but failed). If somehow you find a pattern that increases the chance of this type of error popping up please let me know.

[2020-10-13 17:28] davidc4747 opened #28 "Card that are reviewed on the same day, continue to show up together"
I'm not sure if this is an AnkiTab thing or an AnkiConnect thing, but  I've been reviewing my cards with AnkiTab for about a month now.

It seems that if two new cards are reviewed on the same day, and I continue to press the same button. Even as their intervals grow, they will ALWAYS show up on the same day together. This is bad because I'm starting to use one of the cards to remember the answer

[2020-10-13 19:46] corollari commented on #28
Thanks for reporting this!

If I understand it right the problem is that cards that are answered together with the same answers end up sharing an interval and thus showing up together again, is that correct?

If that's the problem it's likely that the issue lies in ankiConnect, since ankitab just instructs it to display the cards on anki and return the results, thus I think it's better to escalate

[2021-05-06 23:10] adammesa commented on #11
+1 to this

Maybe issue #25 could be used to solve this as well. Is development still active for this plugin?

Looks like `img { max-width: 100%; }` may work as the simple & dirty fix.. I'm down to muck around with CSS/UX though I haven't done chrome add-ons in a _really_ long time. My cards all have "context" which is me doing screenshots of the relevant physiology class slides so this is a kille

[2021-05-12 21:48] Jiali-Xing opened #29 "Firefox extension zip/signed package corrupt?"
Hi!
I really love this add-on! And I hope to use it in my `Firefox 89.0b10`.
The zip file/signed package [ankitab-0.5.1.1-fx.zip](https://github.com/corollari/ankiTab/files/4712919/ankitab-0.5.1.1-fx.zip) right now gives me an error message saying that `the add-on can not be installed because it appears to be corrupt`.
Can I fix this on my side? Or does anyone else also have this problem?
Best,

[2021-05-13 01:57] corollari commented on #29
I'll try to generate a new package.

[2021-05-13 02:17] corollari commented on #29
Can you try with this?
[ankitab-0.5.3-fx.zip](https://github.com/corollari/ankiTab/files/6469989/ankitab-0.5.3-fx.zip)

[2021-05-13 17:36] adammesa commented on #11
@corollari are you still working on this project?

[2021-05-13 17:43] corollari commented on #11
Sounds good, if you want to drop a PR feel free to do so and I'll merge.

Not really, these days I'm busier than when I started this project and have been neglecting it. If you'd like to become a maintainer I'd be happy to give you the relevant permissions or point to your fork.

[2021-05-13 18:32] Jiali-Xing commented on #29
Thank you very much for your fast reply. Sadly this new one gives me the same error as before... I tried it on both Windows and Ubuntu.

[2021-09-26 22:38] awesmubarak opened #30 "Chrome web store version is behind"
LOVE this extension!! Unfortunately the version uploaded to the web store seems to be behind. It's on `0.5.2` but this repo is on `0.5.3`. Most significantly the web store version doesn't have dark mode D:

[2021-09-26 22:41] awesmubarak opened #31 "Dark mode doesn't apply to the whole screen"
Enabling dark mode only seems to change the background. This is a screenshot of the whole page, running on a `0.5.3` (this repo's main branch):

<img width="1440" alt="Screenshot 2021-09-26 at 23 39 26" src="https://user-images.githubusercontent.com/24862378/134826479-3ca9c85d-2d65-4f5e-ac62-abeaad39ca3c.png">

my eyessss

[2021-10-21 07:32] BradKML commented on #30
Also for Brave it is not working snappy, since there is no install instructions and the website is dead.

[2021-10-21 07:47] BradKML opened #32 "Images are not present"
Currently doing "Japanese Core 2000 Step 01 Listening Sentence Vocab + Images" but the browser did not show up the images or image-text pairs when the audio plays.

[2021-10-27 02:17] BradKML commented on #32
Checking https://github.com/corollari/ankiTab/issues/24 and https://github.com/corollari/ankiTab/issues/11

[2021-11-11 16:52] adammesa commented on #32
That's curious, it looks like that deck ([https://ankiweb.net/shared/info/114060567](https://ankiweb.net/shared/info/114060567)) is using externally hosted images rather than downloaded to your computer...? Perhaps that doesn't work with AnkiTab?

[2021-11-12 06:18] BradKML commented on #32
I think it is a rendering issue, as sometimes the text and/or image will not render